# Pasta de configurações do VSCode
.vscode

# Pasta de build do jupyter-book
_build

# Checkpoints do Jupyter Notebook
.ipynb_checkpoints

# Ambiente virtual
.venv

# Pasta do Great Expectations
great_expectations